/* Entfernt sämtliche Linien, Ränder und Schatten im Header-Bereich */
header.navbar,
.navbar,
.navbar-default,
.navbar-header,
.navbar-collapse,
.navbar-nav,
.navbar-brand {
  border: none !important;
  box-shadow: none !important;
  background-image: none !important;
}

header.navbar,
.navbar-default {
  border-bottom: none !important;
}

.navbar::before,
.navbar::after,
.navbar-default::before,
.navbar-default::after {
  display: none !important;
  border: none !important;
  box-shadow: none !important;
}
